.about-project-name,
.about-test-rat-name {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.about-project-description,
.about-test-rat-description {
    -fx-font-size: 16px;
    -fx-text-fill: -color-fg-subtle;
}

.about-created-by {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
