/*
    CHOICE FIELD CHOICE STYLING
*/
.choice-list-choice {
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.choice-list-choice:first {
    -fx-background-radius: 6px 6px 0 0, 5px 5px 0 0;
}

.choice-list-choice:last {
    -fx-background-radius: 0 0 6px 6px, 0 0 5px 5px;
}

.choice-list-choice:only {
    -fx-background-radius: 6px, 5px;
}

.choice-list-choice-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}