.status-bar {
    -fx-border-color: -pp-border-color;
    -fx-border-width: 2px 0 0 0;
}

.image-size-watcher {
    -fx-border-color: -pp-border-color;
    -fx-border-width: 0 2px 0 0;
}

.image-zoom-watcher,
.filter-apply-time-watcher {
    -fx-border-color: -pp-border-color;
    -fx-border-width: 0 0 0 2px;
}

.image-size-watcher-icon,
.image-zoom-watcher-icon,
.filter-apply-time-watcher-icon {
    -fx-icon-color: -color-fg-subtle;
}

.image-size-watcher-label,
.image-zoom-watcher-label,
.filter-apply-time-watcher-label {
    -fx-alignment: center;
    -fx-text-fill: -color-fg-subtle;
    -fx-font-weight: bold;
}

.image-size-watcher-size,
.image-zoom-watcher-zoom,
.filter-apply-time-watcher-time {
    -fx-text-fill: -color-fg-default;
}