/*
    BASE TEXT FIELD STYLING
*/
.text-field-input {
    -fx-prompt-text-fill: derive(-color-fg-muted, -25%);
    -fx-text-fill: -color-fg-default;
}

.text-field-label {
    -fx-background-color: -color-bg-default;
    -fx-text-fill: -color-fg-muted;
}

.text-field-error-icon {
    -fx-icon-size: 24px;
    -fx-icon-color: -color-danger-fg;

    -fx-opacity: 0;
}

/*
    VALID TEXT FIELD STYLING
*/

.text-field:valid .text-field-label {
    -fx-text-fill: -color-success-fg;
}

.text-field:valid .text-field-input {
    -color-input-border: -color-success-fg;
}

/*
    INVALID TEXT FIELD STYLING
*/

.text-field:invalid .text-field-label {
    -fx-text-fill: -color-danger-fg;
}

.text-field:invalid .text-field-input {
    -color-input-border: -color-danger-fg;
}

.text-field:invalid .text-field-error-icon {
    -fx-opacity: 1;
}

/*
    FOCUSED TEXT FIELD STYLING
*/
.text-field:focus-within .text-field-label {
    -fx-text-fill: -color-accent-fg;
}